$align: left;
$bg-color: rgb(255, 94, 0);
$color-01: white;
$color-02: rgb(255, 51, 0);
$color-03: rgb(223, 24, 24);
$color-04: rgb(0, 0, 0);
$color-default: rgb(247, 31, 31);
$font-big: 3rem; 
$font-family-default: Arial,'Roboto', sans-serif;
$font-medium: 2.2rem;
$font-normal: 2rem;
$font-small: 1.5rem;
$mb: 1.5rem;
$mt: 1.5rem;
$mt-02: 3rem;
$space-default: 1.5rem;
